URL_BASE = "https://hidemyass.com/proxy-list/"
#URL_BASE = "http://127.0.0.1"

X_PARSE_APPLICATION_ID = "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
X_PARSE_REST_API_KEY = "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
URL_PARSE_PROXY = "https://api.parse.com/1/classes/Proxy"
URL_PARSE_BATCH = "https://api.parse.com/1/batch"
URL_PARSE_BATCH_PROXY = "/1/classes/Proxy"
URL_PARSE_QUERY_LIMIT = 1000
PARSE_BATCH_LIMIT=20

REQUESTS_MAX_RETRIES=3
REQUESTS_TIMEOUT=10

IF_DEBUG=False
